<div class="form-body">
  <app-header></app-header>
  <section class="form-body-section">
    <app-progress-line></app-progress-line>
    <h2>Informe o CPF do futuro cooperado (a)</h2>
    <p>
      Se necessário, você poderá duplicar uma conta existente ou pausar e
      retornar este cadastro futuramente.
    </p>
    <p>Digite apenas os números (sem pontos ou traços).</p>

    <form class="form-form-cpf">
      <div class="form-input">
        <label>
          <h3 class="form-h3">CPF</h3>
          <input required minlength="11" [(ngModel)]="cpfInputValue" name="inputCpf" type="text"
            placeholder="000.000.000-00" class="form-input-text" (change)="changeHandler()" (keydown)="handleError()"
            [class]="{ 'form-error': error }" />
        </label>
        <button type="button" class="form-button" (click)="clickHandler()">
          Consultar por CPF
        </button>
        <div *ngIf="error" class="form-error-msg">{{ errorMsg }}</div>
      </div>
    </form>
    <app-row-cards *ngIf="validCpf" [cardData]="cooperadoSelecionado">
    </app-row-cards>
  </section>

  <app-footer [confirm]="validCpf"> </app-footer>
</div>