<nav class="navbar" [class]="{ expanded: expand }">
  <a href="#" class="logo">
    <img src="./assets/images/ailos_logo.png" alt="Ailos" />
  </a>
  <div class="navbar__contents">
    <a href="#" class="navbar__contents__row__icons">
      <mat-icon class="menu-hamburguer" fontSet="material-icons-round">
        menu
      </mat-icon>
    </a>

    <app-nav-link class="navbar__contents" [expanded]="expand"></app-nav-link>

    <app-profile class="navbar__profile" *ngIf="width < 730" [expanded]="expand"></app-profile>
  </div>
</nav>